/* Header.module.css */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%; 
    margin: 0 auto; 
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
  }

  .menuContainer {
    margin: 1.25rem;
  }
  
  .semiboldText {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
  }